nav ul li .active {
  color: var(--btn-clr);
}
/* ========================== header ========================== */
.amelia {
  height: 500px;
  background-color: var(--background-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/about-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.amelia h1 {
  margin-bottom: 20px;
  color: #fff;
}
.amelia p {
  width: 25%;
  text-align: center;
  color: #fff;
}
/* ============================== about us ========================= */
.about2 {
  height: 700px;
}
.about2-flex {
  display: flex;

}
.about2-img {
  width: 50%;
  height: 700px;
  background-color: var(--background-gray);
  background: url(../img/How-To-Sleep-Better-When-Working-Night-Shifts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about2-writing {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start; 
  background-color: #f5f5f5;
}
.about2-writing div {
  width: 80%;
  margin: auto;
}
.about2-writing h2 {
  margin: 0 0 20px 0;
}
.about2-writing p {
  margin: 0 0 20px 0;
  width: 50%;
}
/* ================================== project ================ */
.project {
  height: 450px;
}
.project-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.project-flex h2 {
   margin-bottom: 20px;
}
.project-flex p {
  margin-bottom: 20px;
  width: 30%;
  text-align: center;
}
.project-flex a {
  text-decoration: none;
  padding: 15px 60px;
}